<div class="wrapper">
  <h2 class="page-header">Friends</h2>
  <form class="form">
    <label for="searchInput">Search Friends</label>
    <div class="input-wrapper">
      <input type="text" placeholder="Search Friends" id="searchInput"/>
      <button (click)="searchFriend()">Search</button>
    </div>
  </form>
  <ul class="friends-list">
    <li  *ngFor="let friend of friendsArr" class="list-line">{{friend.email}}
    <button (click)="removeFriend()">Remove friend</button>
    </li>
  </ul>
</div>
