<div class="profile-page">
  <div class="form">
    <h2 class="form-header">Profile</h2>
    <form class="profile-form">
      <label for="usernameInput">Username</label>
      <input type="text" placeholder="Username" id="usernameInput" value="{{getUsername()}}"/>
      <label for="emailInput">Email</label>
      <input type="text" placeholder="Email" id="emailInput" value="{{getEmail()}}" disabled />
      <label for="ageInput">Age</label>
      <input type="number" placeholder="Username" id="ageInput" value="{{getAge()}}"/>
      <button (click)="saveInfo()">Save</button>
    </form>
  </div>
</div>
